.button {
  background: var(--blue-dark);
  color: var(--gray-100);
  display: flex;
  width: 5.625rem;
  height: 3.25rem;
  border-radius: 0.625rem;
  padding: 16px;
}

.button:hover {
  background: var(--blue);
}