.circle {
  color: var(--blue);
  margin-right: 0.75rem;
}

.circle:hover {
  color: var(--blue-dark);
}

.checkCircle {
  color: var(--purple-dark);
  margin-right: 0.75rem;
}

.checkCircle:hover {
  color: var(--purple);
}